path:
  data:
    all_images: "data/images"
    rating_record: "data/all_records.csv"
  statistics: "statistics"


# Decide which attr to do with
# attributes: [ 'hp' ] # example attributes: [ 'hp', 'pa', 'ma', 'sp', 'cr' ]
attributes: [ 'hp', 'pa', 'ma', 'sp', 'cr' ]

input:
  input_size:
    width: 50
    height: 60
  edges: # If use edges, the img will be turned to 'RGB'
    use_edges: 'true' # 'true' means True; otherwise, False
    threshold1: 100
    threshold2: 50
  pil_img_mode: 'RGB'

train:
  rater: 'liao' # rater's name or 'all'
  n_epochs: 5
  batch_size: 500 # Only integer now. TODO: "all" or integer
  validation: 'holdout' # 'k_fold' or 'holdout' or 'none' (P.S. Now 'none' is unavailable.)
  # K_fold_number:
  #     - 'None': No validation
  K_fold_number: 10 # If using K_fold, this number must >= 2
  holdout_validation_size: 0.1 # >0, <1
  random_crop:
    use_random_crop: 'true' # use_random_crop: 'true' means True; otherwise, False.
    resize:
      width: 60
      height: 72

confusion_matrix:
  normalize: "true" # "true" means True; otherwise, False.
  round_precision: ".2f"
  save: 'true' # "true" means True; otherwise, False.
  show: 'false' # "true" means True; otherwise, False.

#model:
#  # type:
#  #     - 'random_forest'
#  type: 'random_forest_clf'
#  # Model settings
#  random_forest_clf:
#    # Read sklearn rand. forest clf doc for mor info.
#    n_estimators: 100 # Num of trees in the forest
#    criterion: 'gini' # Function to measure quality. 'gini' or 'entropy'
#    max_depth: 999999 # int
#    min_samples_split: 2
#    min_samples_leaf: 1
#    # max_features: None
#    #max_leaf_nodes: None
#    verbose: 0
#    bootstrap: True
#    warm_start: True # Use previous fit or fit a whole new forest
#    n_jobs: -1
#    # random_state: 2
#    # max_samples: None




